.course-info {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child {
            padding: 50px 0;
        }
        &:last-child {
            border-top: 1px solid $color-pink;
            padding: 32px 0;
        }
    }
    &__title {
        flex: 0 0 calc(100% / 12 * 4);
    }
    &__desc {
        flex: 0 0 calc(100% / 12 * 6);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn-box {
        flex: 0 0 calc(100% / 12 * 2);
    }
    &__progress {
        width: 150px;
        height: 150px;
        flex: 0 0 150px;
        background: conic-gradient(#ff579e 25%, #3a2758 0);
        &-value {
            font-size: 1.875rem;
        }
    }
    &__text {
        font-family: $secondary-font;
        font-size: 1rem;
        line-height: 30px;
        color: #8E819F;
        margin-left: 50px;
        margin-right: 70px;
    }
    &__start {
        background-color: $color-pink;
        border-radius: 50px;
        padding: 12px 15px;
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        color: #FFFFFF;
        display: block;
        transition: $transition-speed;
        &:hover {
            background-color: darken($color-pink, 5%);
        }
    }
    &__span {
        color: #8E819F;
        font-size: 1rem;
        line-height: 30px;
        font-family: $secondary-font;
        position: relative;
    }
    &__span+&__span {
        margin-left: 60px;
        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: -30px;
            width: 1px;
            height: 30px;
            transform: translateY(-50%);
            background-color: #45405b;
        }
    }
    &__sections,
    &__steps,
    &__tests {
        &-amount {
            color: $color-pink;
        }
    }
}


/* Course-info media queries */

@media screen and (max-width: 1680px) {
    .course-info {
        &__title {
            font-size: 2.3rem;
            line-height: 46px;
        }
    }
}

@media screen and (max-width: 1279px) {
    .course-info {
        &__title {
            font-size: 2rem;
            line-height: 42px;
            padding-right: 15px;
        }
        &__text {
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .course-info {
        &__inner {
            flex-direction: column;
        }
        &__title {
            font-size: 1.7rem;
            line-height: 38px;
            padding-right: 0;
            text-align: center;
        }
        &__title,
        &__desc,
        &__btn-box {
            flex: 0 0 100%;
        }
        &__progress {
            width: 130px;
            height: 130px;
            flex: 0 0 130px;
            margin: 30px 0;
            &-value {
                font-size: 1.5rem;
            }
        }
        &__text {
            margin: 20px 0 0 0;
        }
        &__start {
            padding: 12px 40px;
        }
        &__desc {
            flex-direction: column-reverse;
            text-align: center;
            padding: 0;
        }
        &__span+&__span {
            margin-left: 30px;
            &:before {
                left: -15px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .course-info {
        &__title {
            font-size: 1.5625rem;
            line-height: 36px;
        }
        &__inner {
            &:first-child {
                padding: 40px 0 50px;
            }
            &:last-child {
                padding: 30px 0;
            }
        }
        &__details {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        &__span+&__span {
            margin-top: 20px;
            margin-left: 0;
            &:before {
                width: 100%;
                height: 1px;
                top: -10px;
                left: 0;
                transform: initial;
            }
        }
    }
}