.footer {
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 0.9375rem;
        font-family: $secondary-font;
        color: $text-color-grey;
        border-top: $border-grey;
        padding: 100px 0;
        line-height: 18px;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        margin-right: 24px;
    }
    &__copyright {
        &:first-child {
            margin-bottom: 3px;
        }
    }
    &__partner {
        display: flex;
    }
}

.partner {
    margin-bottom: 15px;
    &__logo {
        width: 109px;
    }
    &__text {
        margin-right: 24px;
    }
}

.partners {
    display: flex;
    align-items: center;
    &__text {
        margin-right: 24px;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item+&__item {
        margin-left: 18px;
    }
    &__logo {
        &-hr {
            max-height: 30px;
        }
        &-kremov {
            max-height: 32px;
        }
    }
}


/* Footer media queries */

@media screen and (max-width: 1023px) {
    .footer {
        &__inner {
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
        }
        &__text {
            display: flex;
        }
        &__left,
        &__center {
            margin-bottom: 25px;
        }
        &__left {
            order: 1;
        }
        &__center {
            order: 0;
        }
        &__right {
            order: 2;
        }
    }
    .partner {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__inner {
            padding: 40px 0;
            font-size: .8rem;
        }
        &__left,
        &__center {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        &__inner {
            padding: 35px 0;
        }
        &__left {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-right: 0;
            margin-bottom: 6px;
        }
    }
    .partner,
    .partners {
        flex-direction: column;
        align-items: center;
        &__text {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}