$main-font: 'Montserrat',
sans-serif;
$secondary-font: 'IBM Plex Sans',
sans-serif;
$color-pink: #FF579E;
$color-continue:#9F72FF;
$color-failed: #FF2121;
$color-done: #10A46F;
$text-color-grey: rgba(255, 255, 255, .5);
$border-grey: 1px solid rgba(255, 255, 255, .2);
$transition-speed: 0.3s;